@model List<InventoryManagment.Web.Models.Entities.InventoryChange>
@using InventoryManagment.Web.Models.Entities;
@{
	var users = ViewBag.Users as List<User>;
	var producers = ViewBag.Producers as List<Producer>;
}

<h3>Laptops</h3>

<table class="table">
	<thead>
	<th>Id</th>
	<th>Assigned To</th>
	<th>Producer</th>
	<th>Model</th>
	<th>InStock</th>
	<th>Serial Number</th>
	<th>Date Of Change</th>
	<th></th>
	</thead>
	<tbody>
		@foreach (var display in Model)
		{
			var assignedUser = users?.FirstOrDefault(u => u.Id == display.AssignedTo);
			var producer = producers?.FirstOrDefault(u => u.Id == display.Producer);
			<tr>
				<td>@display.Id</td>
				<td>@(assignedUser != null ? assignedUser.Name : "Unknown")</td>
				<td>@(producer != null ? producer.Name : "Unknow")</td>
				<td>@display.HardwareModelName</td>
				<td>@display.InStock</td>
				<td>@display.SerialNumber</td>
				<td>@display.DateOfChange.ToShortDateString()</td>
				<td>
					<a class="btn btn-dark" asp-controller="Laptops" asp-action="Edit" asp-route-id="@display.Id">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>