@model List<InventoryManagment.Web.Models.Entities.InventoryChange>
@using InventoryManagment.Web.Models.Entities;
@{
	ViewData["Title"] = "Home Page";
	var users = ViewBag.Users as List<User>;
	var producers = ViewBag.Producers as List<Producer>;
	int i = 1;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Inventory Managment App</h1>
    <h3>Here you can manage users and hardware in your company</h3>
</div>
<div>
	<p>Latest inventory changes:</p>
	<table class="table">
		<thead>
		<th>Id</th>
		<th>InStock</th>
		<th>Model</th>
		<th>Assigned To</th>
		<th>Producer</th>
		<th>Type Of Hardware</th>
		<th>Date of Change</th>
		</thead>
		<tbody>
			@foreach (var inventoryChange in Model)
			{
				var assignedUser = users?.FirstOrDefault(u => u.Id == inventoryChange.AssignedTo);
				var producer = producers?.FirstOrDefault(u => u.Id == inventoryChange.Producer);
				<tr>
					<td>@i</td>
					<td>@inventoryChange.InStock</td>
					<td>@inventoryChange.HardwareModelName</td>
					<td>@(assignedUser != null ? assignedUser.Name : "Unknown")</td>
					<td>@(producer != null ? producer.Name : "Unknow")</td>
					<td>@inventoryChange.TypeOfHardware</td>
					<td>@inventoryChange.DateOfChange.ToShortDateString()</td>
				</tr>
				i++;
			}
		</tbody>
	</table>
</div>
