@model List<InventoryManagment.Web.Models.Entities.User>
@{
	ViewData["Title"] = "Users";
	int i = 1;
}

<h3>Users</h3>

<table class="table">
	<thead>
	<th>Id</th>
	<th>Name</th>
	<th>Email</th>
	<th>Date of employment</th>
	<th></th>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@i</td>
				<td>@user.Name</td>
				<td>@user.Email</td>
				<td>@user.DateOfEmployment</td>
				<td>
					<a class="btn btn-dark" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
				</td>
			</tr>
			i++;
		}
	</tbody>
</table>
<a class="btn btn-dark" asp-controller="Users" asp-action="Add">Add new user</a>
<a class="btn btn-dark" asp-controller="Departments" asp-action="Index">Departments</a>
