@model List<InventoryManagment.Web.Models.Entities.Laptop>

<h3>Laptops</h3>

<table class="table">
	<thead>
	<th>Id</th>
	<th>Assigned To</th>
	<th>Producer</th>
	<th>Model</th>
	<th>InStock</th>
	<th>Serial Number</th>
	<th>Date Of Purchase</th>
	<th></th>
	</thead>
	<tbody>
		@foreach (var laptop in Model)
		{
			<tr>
				<td>@laptop.Id</td>
				<td>@laptop.AssignedTo</td>
				<td>@laptop.Producer</td>
				<td>@laptop.HardwareModel</td>
				<td>@laptop.InStock</td>
				<td>@laptop.SerialNumber</td>
				<td>@laptop.DateOfPurchase</td>
				<td>
					<a class="btn btn-dark" asp-controller="Laptops" asp-action="Edit" asp-route-id="@laptop.Id">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div>
<a class="btn btn-dark" asp-controller="Laptops" asp-action="Add">Add new laptop</a>
<a class="btn btn-dark" asp-controller="Producers" asp-action="Index">Producers</a>
<a class="btn btn-dark" asp-controller="HardwareModels" asp-action="Index">Models</a>
</div>
<br />
<a class="btn btn-dark" asp-controller="Laptops" asp-action="Export">Export</a>