@model List<InventoryManagment.Web.Models.Entities.Laptop>
@using InventoryManagment.Web.Models.Entities;
@{
	ViewData["Title"] = "Laptops";
	var users = ViewBag.Users as List<User>;
}

<h3>Laptops</h3>

<table class="table">
	<thead>
	<th>Id</th>
	<th>Assigned To</th>
	<th>Producer</th>
	<th>Model</th>
	<th>InStock</th>
	<th>Serial Number</th>
	<th>Date Of Purchase</th>
	<th></th>
	</thead>
	<tbody>
		@foreach (var laptop in Model)
		{
			var assignedUser = users?.FirstOrDefault(u => u.Id == laptop.AssignedTo);

			<tr>
				<td>@laptop.Id</td>
				<td>@(assignedUser != null ? assignedUser.Name : "Unknown")</td>
				<td>@laptop.Producer</td>
				<td>@laptop.HardwareModel</td>
				<td>@laptop.InStock</td>
				<td>@laptop.SerialNumber</td>
				<td>@laptop.DateOfPurchase</td>
				<td>
					<a class="btn btn-dark" asp-controller="Laptops" asp-action="Edit" asp-route-id="@laptop.Id">Edit</a>
					<a class="btn btn-dark" asp-controller="InventoryChanges" asp-action="LaptopHistory" asp-route-id="@laptop.Id">Check History</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div>
<a class="btn btn-dark" asp-controller="Laptops" asp-action="Add">Add new laptop</a>
<a class="btn btn-dark" asp-controller="Producers" asp-action="Index">Producers</a>
<a class="btn btn-dark" asp-controller="HardwareModels" asp-action="Index">Models</a>
</div>
@* <br />
<a class="btn btn-dark" asp-controller="Laptops" asp-action="Export">Export</a> *@